.editMenu.active{
	display: block;
}
.editMenu {
	display: none;
	box-shadow: 2px 4px 29px 0px rgba(34, 60, 80, 0.2);
	margin: 30px 0 ;
	border-radius: 5px;
	background-color: #F9F9F9;
	height: 100%;

	&__title {
		display: flex;
		border-radius: 5px 5px 0 0;
		text-align: center;
		background-color: #DEDEDE;
		font-weight: 500;
		padding: 15px;
		position: relative;
		justify-content: space-between;
		
		img{
			cursor: pointer;
			&:hover{
				transform: scale(1.2);
			}
			
		}
	}
}
.editForm {
	&__item {
		margin: 17px;
	}
	
	&__input {
		outline: none;
		border: none;
		border-bottom: 2px solid#DEDEDE ;
		background-color: #F9F9F9;
		font-size: 17px;
		width: 100%;
		min-width: 300px;
		font-family: 'Roboto', sans-serif;
		&:focus{
			
			border-bottom: 2px solid #BBBBBB;
		}
	}
	&__button{
		padding: 10px 0;
		text-align: center;
		border-radius: 5px;
		margin: 10px 20px;
		background-color: #DEDEDE;
		cursor: pointer;
		transition: 0.3s;
		&:hover{
			background-color:#D3D3D3;
		}
	}
	
}